* {
  margin: 0%;
  padding: 0%;
}
body {
  overflow: none;
  margin: 0%;
  padding: 0%;
     font-family: sans-serif;

}

.container {
  width: 100%;
  background-color: orange;
  height: 100px;
}
.appinfo {
  width: 100%;
  justify-content: center;
}
.text p{
    /* color: rgb(22, 15, 15); */
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    font-family: sans-serif;
}

.text {
  border: 1px solid transparent;
  text-align: center;
  text-justify: newspaper;
  color: white;
}
.text img {
  margin-top: 2%;
}
.form-card {
  justify-self: center;
  background-color: white;
  height: 370px;
  border: 1px solid transparent;
  /* margin-left: 4%; */
  width: 100%;
  margin-top: 8%;
  border-radius: 30px;
  box-shadow: 1px 3px 6px 2px #888888;
}
.text img {
  width: 10%;
}
.form-card h4 {
  text-align: center;
  margin-top: 9%;
}
.form-card p {
  text-align: center;
  font-size: 70%;
  color: rgb(68, 67, 67);

}
.login-foter{
    text-align: center;
    margin-top: 2%;
}
.textbox input {
  border: none;
  width: 100%;
  color: black;
  background: none;
  outline: none;
  margin-left: 3%;
}
i {
  float: left;
  margin-left: 2%;
}
.textbox {
  margin-top: 3%;
  display: inline-flex;
  margin-left: 6%;
  /* background:rgb(235, 235, 235); */
  /* box-shadow:1px 3px 6px 2px #888888; */
  padding: 1%;
  /* border-radius: 30px; */
  background-color: none;
  width: 87%;
  border-bottom: 2px solid rgb(167, 164, 164);
}
.textbox input::placeholder {
  color: grey;
}
.form-card button {
  border-radius: 30px;
  border-color: orange;
  background-color: orange;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  height: 30px;
  cursor: pointer;
  border-color: transparent;
}
/* .facebook
{
    width: 100%;
    background-color:burlywood;
    padding:10%;
} */
.or {
  text-align: center;
  /* padding: 10%; */
  margin-top: 7%;
  font-size: 100%;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(68, 67, 67);
}

a {
  color: rgb(68, 67, 67);
  font-family: sans-serif;
}
.card1 {
  /* border-radius: 6px; */
  width: 80%;
  float: left;
  margin-left: 9%;
  margin-top: 5%;
  background-color: white;
  padding: 1%;
  border-radius: 50px;
  box-shadow: 1px 1px 3px 1px #acaaaa;
}
.register a{
   color:orange;
}
.register{
    display: inline-flex;
    width: 100%;

  margin-left: 22%;
  margin-top: 5%;
  


 
}
#imgid {
  width: 6%;
  margin-left: 8%;
  float: left;
  margin-top: 2%;
}
#all {
  float: left;
  margin-left: 15%;
  text-align: center;
  /* margin-top: 3%; */

  font-weight: bold;
  padding: 2%;
}
@media only screen and (min-width: 320px) {
  .container {
    height: 300px;
    background-color: rgb(248, 179, 50);
  }
  .form-card {
    background-color: rgb(235, 235, 235);
  }
}
@media only screen and (max-width: 991px) {
  .form-card {
    height: 300px;
  }
}
@media only screen and (max-width: 684px) {
  .textbox {
    margin-top: 4%;
  }
}
@media only screen and (max-width: 395px) {
  .textbox {
    margin-top: 13%;
  }
}
