/* *{
    margin:0%;
    padding: ;
} */

body{
    width: 92%;
    
    /* background: rgb(218, 218, 218); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    

  }


/* .er{
    float: right;
} */

/* .q{
    margin-top: 1%;
} */

.info{
    /* border: 10px solid grey; */
    width: 50%;
    margin-left: 5%;
    float:left;
     font-style: normal;
     /* font-family: 'Courier New', Courier, monospace; */
 
}
.ill{
    /* border: 10px solid grey; */
    width: 40%;
    float:right;
    /* margin-left:-5%; */
    /* background-color: black; */
}
img{
    width: 100%;
    height: 100px;
}
@media screen  and(max-width:300px) {

    .register{
        padding :  0% ;
    }
    
}


.register{
    width: 100%;
    padding: 0%;
    /* margin-left:; */
    /* border: 2px solid red; */
    margin-left: 0%;
   
     
    
}

.container{
 
    background: rgb(255, 254, 254);
        width: 100%;
        height: 100px;
        
}

input:focus{
     border: 2px solid orange;
}
button{
    border-radius: 5px;
    border-color: orange;
    background-color: orange;
    color: white;
    width: 250px;
    height: 35px;
    cursor: pointer;
    border-color: transparent;
    
}
.h5{
    text-align: center;
    /* font-family: monospace; */
     
}
input,button{
    width: 90%;
    height: 30px;
    padding:4%;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 20px -6px;
    


}
button{
    width: 100%;
    padding:3%;
    align-content: center;
    align-items: center;
    height:40px;
}
.form{
    background-color: aliceblue;
}